<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!--<add key="PrintMethod" value="pdfium" />--> <!--acrobat; pdfium-->
		<!--<add key="AcrobatReaderSetupPath" value="C:\\Program Files\\Adobe\\Acrobat DC\\Acrobat\\Acrobat.exe" />-->
		<add key="PrinterName" value="Brother DCP-L2550DW series Printer" />
		<add key="NumberOfCopies" value="1" />

		<add key="PrintingErrorEmailTemplatePath" value="C:\Program Files (x86)\Trak\PDFPrinterServiceSetup\PrintingErrorEmail.txt" />
		<add key="smtpPort" value="587"/>
		<add key="smtpServer" value="smtp.gmail.com"/>
		<add key="EnableSsl" value="true"/>
		<add key="emailAccount" value="support@fluidsecure.com"/>
		<add key="emailPassword" value="SecureFluid@123"/>
		<add key="FromEmail" value="support@fluidsecure.com"/>
		<add key="PrintingErrorEmailSubject" value="Printer Error" />
		<add key="PrintingErrorEmailsTo" value="support@fluidsecure.com" />
	</appSettings>
	
	<log4net debug="true">
		<!--User below code for Disable log report-->
		<!--<log4net debug="true" threshold="OFF">-->
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="LogReport.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
</configuration>